@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0069D5
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-polysans: var(--font-polysans);
  --color-primary: var(--primary-color);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
